.h1 {
  font-size: 2em;
  color: #9E9E9E;
}

.header-Text {
  font-family: "Anton", sans-serif;
  color: #9E9E9E;
  font-size: 55px;
  display: block;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
}

.body {
  font-family: "Anton", sans-serif;
  background-color: #222222;
  max-width: max-content;
  margin: auto;
}

.maintext {
  text-align: center;
  justify-content: center;
}

.base-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 50%;
  transition: all .7s ease;
}

.base-image:hover {
  opacity: 100%;
}

.image-container {
  background-color: #343434;
  /* padding: 16px; */
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  /* min-width: 410px; */
}

.header-link-container {
  font-family: "Anton", sans-serif;
  /* border: 2px solid red; */
}

.footer-link-container {
  font-family: "Anton", sans-serif;
  /* border: 2px solid red; */
  align-self: center;
  min-width: 33%;
  margin-bottom: 0px;
}

.header-link {
  font-style: normal;
  color: rgb(102, 102, 102);
  text-decoration: none;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 700;
  /* border: 2px solid red; */
}

.footer-link {
  font-style: normal;
  color: rgb(102, 102, 102);
  text-decoration: none;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 700;
  align-self: center;
  /* border: 2px solid red; */
}

.link {
  font-weight: bold;
  color: #9E9E9E;
  text-decoration: none;
  margin-left: none;
  font-weight: none;
  /* border: 2px solid red; */
}

a {
  text-decoration: none;
  color: #9E9E9E;
}

a:hover {
  text-decoration: underline;
  color: #e1e1e1;
  /* zoom: 150%; */
}

.text-highlight {
  color: #9E9E9E;
  font-size: 40px;
  text-transform: capitalize;
  /* border: 2px solid red; */
  text-align: center;
}

.impressum {
  color: #9E9E9E;
  font-size: 25;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  align-self: center;
  text-align: center;
  margin: auto;
}

.paragraph {
  flex: auto;
  color: #9E9E9E;
  font-size: 25;
  min-width: 33%;
  align-self: center;

}

.maps-container {
  flex: auto;
  display: block;
  min-width: 33%;
  align-self: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  min-width: 1400px;
}

.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .wrapper {
    min-width: 1200px
  }

  @media (max-width: 1200px) {
    .wrapper {
      min-width: 900px
    }

    @media (max-width: 900px) {
      .nav-bar {
        flex-direction: column;
      }

      .image-container {
        flex-direction: column;
      }

      .h1 {
        font-size: 1.7em;
      }

      .base-image {
        opacity: 100%;
      }

      .wrapper {
        min-width: 800px;
      }


    }

    @media (max-width: 800px) {
      .impressum {
        flex-direction: column;
      }

      .footer-link-container {
        margin-bottom: 10px;
      }

      .h1 {
        font-size: 1.5em;
      }

      .header-link-container {
        font-size: small;

      }

      .base-image {
        opacity: 100%;
      }

      .wrapper {
        min-width: 400px;
      }

      @media (max-width: 400px) {
        .nav-bar {
          flex-direction: column;
        }

        .image-container {
          flex-direction: column;
        }

        .header-Text {
          font-size: 35px;
        }

        .text-highlight {
          font-size: 30px;
        }

        .header-link-container {
          font-size: small;
        }

        .base-image {
          opacity: 100%;
        }

        .wrapper {
          min-width: 300px;
        }
      }
    }
  }
}